.land {
    position: relative;
    background-image: url('../../assets/images/hero-img.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
  }

  .content {
    /* padding: 20px; */
    border-radius: 5px;

  }
  
  .location {
    /* background-color: rgba(248, 248, 248, 0.9); */
    background-color: var(--home-background-transparent);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
  }
  
  .location-info {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .location h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Container for the Land Acknowledgment component */
  .land-acknowledgment-container {
    margin-top: 20px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .location {
      margin: 10px;
    }
  }