:root {
    --background-color: #11966e;
    --text-dark: #192324;
    --text-light: #faf9f9;
    --text-light-hover: #faf9f9;
    --img-overlay: #2e374a;
    --hero-background: rgba(255, 255, 255, 0.4);
    --link-color: #0e6e4b;
    --home-background: #DFEBF2;
    --button-hover: #0e754f;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --search-background: rgba(245, 245, 245, 0.9);
    --error-msg: #ff0000;
    --home-background-transparent: rgba(223, 235, 242, 0.8);
    --text-shadow: 0 0 10px rgba(17, 150, 110, 0.7);
    --image-overlay: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    --list-item-hover-bg:  rgba(17, 150, 110, 0.7);

    /* Fonts */
    --font-family: 'Roboto', sans-serif;
    --font-family-heading: 'Roboto Slab', serif;
    --font-family-code: 'Roboto Mono', monospace;
    --font-size: 16px;
    --font-size-heading: 24px;
    --font-size-code: 14px;
    --font-weight: 400;
    --font-weight-heading: 700;
    --font-weight-code: 400;
    --line-height: 1.5;
    --line-height-heading: 1.2;
    --line-height-code: 1.5;
    --letter-spacing: 0.5px;
    --letter-spacing-heading: 0.5px;
    --letter-spacing-code: 0.5px;
    --text-transform: none;
    --text-transform-heading: none;
    --text-transform-code: none;
    --text-decoration: none;
}